<mat-toolbar class="app-header">

  <button mat-icon-button class="menu-btn" (click)="onToggleSidenav()" *ngIf="currentUser">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo-area" routerLink="/">
    <mat-icon class="logo-icon">rocket_launch</mat-icon>
    <span class="logo-text">ProjectPro</span>
  </div>

  <span class="spacer"></span>

  <div *ngIf="currentUser" class="header-actions">

    <button mat-icon-button class="icon-btn" [matMenuTriggerFor]="notificationsMenu" matTooltip="Notifications">
      <mat-icon [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" matBadgeColor="warn" matBadgeSize="small">
        notifications_none
      </mat-icon>
    </button>

    <mat-menu #notificationsMenu="matMenu" class="notifications-menu">
      <app-notifications></app-notifications>
    </mat-menu>

    <button mat-icon-button class="avatar-btn" [matMenuTriggerFor]="userMenu" matTooltip="{{ currentUser.name }} ({{ currentUser.role }})">
      <div class="user-avatar">{{ getUserInitials() }}</div>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="user-menu-header">
        <div class="menu-avatar">{{ getUserInitials() }}</div>
        <div class="menu-user-info">
          <div class="menu-name">{{ currentUser.name }}</div>
          <div class="menu-role">{{ currentUser.role }}</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="navigateToDashboard()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="logout-item" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>

  </div>

  <div *ngIf="!currentUser" class="auth-actions">
    <button mat-button routerLink="/login" class="login-btn">Log In</button>
    <button mat-raised-button routerLink="/register" class="register-btn">Get Started</button>
  </div>

</mat-toolbar>
