/* components/shared/confirm-dialog/confirm-dialog.component.scss */
.confirm-dialog-container {
  min-width: 300px;

  h2 {
    color: rgba(0, 0, 0, 0.87);
  }

  p {
    color: rgba(0, 0, 0, 0.67);
    margin-bottom: 16px;
  }

  .mat-dialog-actions {
    padding-top: 16px;

    button {
      margin-left: 8px;
    }
  }
}
