<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <app-header
    [mobileQuery]="mobileQuery"
    (toggleSidenav)="sidenav.toggle()">
  </app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="!mobileQuery.matches">
      <app-sidenav [mobileQuery]="mobileQuery" (closeSidenav)="sidenav.close()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <footer class="footer">
        <div class="container">
          <span>© {{currentYear}} Project Management System. All rights reserved.</span>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
